.ChatInput {
  position: sticky;
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 1%;
  background-color: #313338;
  color: #b5bac1;
  & .ChatInput__ct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #383a40;
    width: 90%;
    border-radius: 5px;
    padding: 1%;
    & .cn__icons {
      gap: 15%;
    }
  }
  & .ct__input {
    display: flex;
    width: 100%;
    & input {
      background-color: transparent;
      outline: none;
      border: none;
      width: 100%;
      color: white;
    }
    & input:focus-visible {
      outline: none;
    }
  }
}
