.chat {
  background-color: #313338;
  height: 100%;
  color: rgb(242, 243, 245);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: scroll;
  & .chat__input {
    width: 100%;
    padding: 2% 0;
    border: 1px solid black;
    scroll-behavior: smooth;
  }
  & .chat__space {
    flex-grow: 1;
  }
}
