.chat {
  background-color: #313338;
  height: 100%;
  color: rgb(242, 243, 245);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: scroll;
  & .Container {
    width: 100%;
  }
  & .chat__sep_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    & .chat_separator {
      width: 100%;
      border: 1px solid #3f4147;
      border-radius: 5px;
      margin-inline: 1%;
    }
    & .chat__date {
      display: flex;
      width: max-content;
      justify-content: center;
      white-space: nowrap;
      align-items: center;
      font-weight: 400;
      font-size: 12px;
      color: #949ba4;
    }
  }

  & .chat__input {
    width: 100%;
    padding: 2% 0;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: start;
    & img:hover {
      border-radius: 50%;
    }
    & .chat__name_data {
      display: flex;
      gap: 10%;
      align-items: center;

      width: 100%;
      font-size: 12px;
      & > p {
        font-weight: 700;
        font-size: 16px;
      }
    }
    & .chat__text {
      font-weight: 400;
      color: #d6d8db;
    }
  }
  & .chat__space {
    flex-grow: 1;
  }
}
