.cn__title {
  color: #f2f3f5;
  display: flex;
  align-items: center;

  & > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.title_inline {
  padding-inline: 1rem;
  min-height: 3rem;
}
