.options__ct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 5%;
  padding-top: 1%;
  padding-bottom: 1%;

  /* & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & > div:hover {
    background-color: #35373c;
  } */
}


