aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  overflow-y: scroll;
  background-color: #1e1f22;
  gap: 1%;
  & .sidebar__icon {
    padding-top: 15%;
  }
  & > .separator {
    height: 2px;
    width: 32px;
    border-radius: 1px;
    background-color: rgba(78, 80, 88, 0.48);
  }
}
