.cnSideBar_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #232428;
  padding: 0.5rem 0;
  & .cn__icons {
    padding-right: 10%;
    & .cn__icon {
      padding: 0.3em;
    }
    & .cn__icon:hover {
      background-color: #3c3e44;
      border-radius: var(--border-radius);
    }
  }

  & .footer_user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    gap: 5%;
    & img {
      height: 30px;
      border-radius: 50%;
      display: flex;
    }
    &:hover {
      background-color: var(--hover-bg);
      border-radius: var(--border-radius);
    }
  }
  & .user_status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    & h3 {
      font-size: 14px;
      font-weight: 600;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    & p {
      font-size: 12px;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
