:root {
  --animation-duration: 200ms;
}
* {
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}

main {
  height: 100vh;
  display: flex;
}

/* p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} */
